bio==1.6.2
biopython==1.83
biothings-client==0.3.1
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
gprofiler-official==1.0.0
h5py==3.11.0
idna==3.8
importlib_metadata==8.4.0
llvmlite==0.41.1
mygene==3.2.2
numba==0.58.1
numpy==1.24.4
packaging==24.1
pandas==2.0.3
patsy==0.5.6
platformdirs==4.2.2
plotly==5.24.0
pooch==1.8.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scipy==1.10.1
six==1.16.0
statsmodels==0.14.1
structuremap==0.0.9
tenacity==9.0.0
tqdm==4.66.5
tzdata==2024.1
urllib3==2.2.2
zipp==3.20.1
